*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.header{
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__balance{
        display: flex;
        align-items: center;
        gap: 10px;
        span{
            font-weight: 500;
        }
    }
}